*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #e3f9ff;
}
.container{
    width: 400px;
    height: 500px;
    background-color: #3a4452;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.container input{
    height: 80px;
    width: 395px;
    border-radius: 10px;
    font-size: 25px;
    text-align: right;
}
.container button{
    height: 50px;
    width: 50px;
    padding: 30px;
    margin:10px 16px;
    border-radius: 15%;
    background-color: rgb(139, 138, 138);
    font-size: 20px;
    box-shadow: rgb(76, 92, 110),0.6;
    cursor: pointer;
}
